[Desktop Entry]
Version=1.0
Type=Application
Name=Gogland
Icon=/opt/gogland/bin/gogland.png
Exec=gogland %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-gogland
